version: '3.8'
services:
  sonarr_script:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      
      SONARR_URL: ${SONARR_URL?Variable not set}
      SONARR_API_KEY: ${SONARR_API_KEY?Variable not set}
      CONFIG_PATH: /app/config/config.json
      
    env_file:
      - .env

    volumes:
      - .:/app
      - ./logs:/app/logs
      - ./config:/app/config
      - ./temp:/app/temp
      
      - /mnt/samba_share/plex_backgrounds:/app/backgrounds

    ports:
      - "5001:5001"
    restart: unless-stopped
