body {
    background-image: url('https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding-left: 10px; 
    padding-right: 10px; 
    background: transparent; /* Ensure background is transparent */
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background to the menu for better readability */
    padding: 10px;
    border-radius: 10px;
}

.menu span {
    cursor: pointer;
    color: #FFF;
    margin: 0 10px;
    padding: 8px 0;
}

.menu span:hover, .menu span.active {
    border-bottom: 2px solid #FFF;
}

.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    background: transparent; /* Ensure background is transparent */
}

.series-item {
    padding: 0;
    text-align: center;
    position: relative;
    margin: 5px;
    flex: 0 0 calc(33.333% - 10px);
    background: transparent; /* Ensure background is transparent */
}

.poster-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.poster {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background: transparent; /* Ensure background is transparent */
}

.prime-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.series-info {
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.2;
    background: transparent; /* Ensure background is transparent */
}

.episode-number, .episode-title {
    font-size: 10px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.premiere-date {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: -10px; /* Adjust this value to move the date up or down */
}

.alert {
    color: green;
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
}
