body {
    background-image: url('https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;  /* Ensure background is transparent */
}

.menu {
    display: flex;
    justify-content: space-between; /* Adjusts children to have space between them */
    align-items: center; /* Vertically centers all items in the menu */
    width: 100%; /* Ensures the menu uses the full width */
    background: rgba(0, 0, 0, 0.5); /* Background styling */
    padding: 10px;
    border-radius: 10px; /* Rounded corners for the menu */
    height: 50px;
}

.menu-icon, .logo-icon {
    cursor: pointer; /* Ensures that the spans are clickable */
    text-decoration: none;
    color: #FFF; /* White text color */
    margin: 0 10px; /* Margins to ensure spacing around items */
}

.logo-icon {
    width: 60px; /* Adjust the size as needed */
    height: auto; /* Maintains the aspect ratio */
    flex-shrink: 0; /* Prevents the logo from shrinking */
}

.menu span {
    cursor: pointer;
    color: #FFF;
    padding: 10px 0;
    margin: 0 10px;
    text-decoration: none;
}

.menu span.active {
    border-bottom: 2px solid #FFF;
}

.logo-icon {
    width: 60px; /* Adjust the size as needed */
    height: auto; /* Maintains the aspect ratio */
    flex-shrink: 0; /* Prevents the logo from shrinking */
}


.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    background: transparent; /* Ensure background is transparent */
}


@media (min-width: 768px) { /* Styles for larger screens */
    .series-container {
        max-width: 1200px; /* Limiting the maximum width */
        margin: 0 auto; /* Ensures it stays centered */
        padding-left: 120px; /* Adds some padding on the sides */
    }
}


.series-item {
    padding: 0;
    text-align: center;
    position: relative;
    margin: 5px;
    flex: 0 0 calc(33.333% - 10px);
    background: transparent; /* Ensure background is transparent */
}




.poster-wrapper {
    position: relative; /* Add relative positioning */
    width: 100%;
    margin: 0 auto;
}

.poster {
    width: 100%; /*set fixed width for the poster */
    
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background: transparent; /* Ensure background is transparent */
}

/* Media query for mobile devices */
@media (max-width: 768px) {  /* This will target screens smaller than 768px */
    .poster {
        width: 100px;  /* Fixed width for mobile */
        height: 150px; /* Fixed height for mobile */
        object-fit: contain; /* Ensure the whole image fits within the dimensions */
    }
}

.prime-icon {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.series-info {
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.2;
    background: transparent; 
}

.episode-number, .episode-title {
    font-size: 10px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.premiere-date {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: -10px; /* Adjust this value to move the date up or down */
}

.alert {
    color: green;
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}
