body {
    background-color: #333; /* Dark grey background */
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding-left: 10px; 
    padding-right: 10px; 
    background: transparent; 
}

.menu {
    display: flex;
    align-items: center; /* Center align the logo and menu items */
    justify-content: center; /* Center the menu items */
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
    border-radius: 10px;
}

.menu span {
    cursor: pointer;
    color: #FFF;
    padding: 10px 10px; /* Adjust padding for more compact spacing */
    margin: 0 5px; /* Reduce margin for closer spacing */
    text-decoration: none;
}

.menu span.active {
    border-bottom: 2px solid #FFF;
}

.logo-icon {
    width: 60px; /* Adjust the size as needed */
    height: auto;
    margin: 0 10px; /* Center align the logo */
}

.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    background: transparent; 
}

.series-item {
    padding: 0;
    text-align: center;
    position: relative;
    margin: 5px;
    flex: 0 0 calc(33.333% - 10px);
    background: transparent; 
}

.poster-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    background: transparent; 
}

.series-info {
    margin-top: 1px;
    font-size: 12px;
    line-height: 1.2;
    background: transparent; 
}

.episode-number, .episode-title {
    font-size: 10px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.premiere-date {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: -10px; /* Adjust this value to move the date up or down */
}

.alert {
    color: green;
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}
