<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Series Manager</title>
</head>
<body>
    <div class="menu">
        <span onclick="showSection('current')" class="active">Plex</span>
        <span onclick="showSection('prime')">Prime</span>
        <span onclick="showSection('upcoming')">Premiering</span>
        <span onclick="showSection('settings')">Settings</span>
    </div>

    <div id="current" style="display: block;">
        {% if current_series %}
            {% for series in current_series %}
            <div class="series-item">
                <a href="{{ series.sonarr_series_url }}" target="_blank">
                    <img src="{{ series.artwork_url }}" alt="Artwork for {{ series.name }}" class="banner">
                </a>
                <div class="episode-info">
                    <p>{{ series.latest_monitored_episode }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Unable to load series. Check Sonarr status.</p>
        {% endif %}
    </div>

    <div id="prime" style="display: none;">
        {% if prime_series %}
            {% for series in prime_series %}
            <div class="series-item">
                <a href="{{ series.sonarr_series_url }}" target="_blank">
                    <img src="{{ series.artwork_url }}" alt="Artwork for {{ series.name }}" class="banner">
                </a>
                <p>{{ series.name }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>No prime series available.</p>
        {% endif %}
    </div>

    <div id="upcoming" style="display: none;">
        {% if upcoming_premieres %}
            {% for premiere in upcoming_premieres %}
            <div class="series-item">
                <a href="{{ premiere.sonarr_series_url }}" target="_blank">
                    <img src="{{ premiere.artwork_url }}" alt="Artwork for {{ premiere.name }}" class="banner">
                </a>
                <div class="episode-info">
                    <p>Premieres on: {{ premiere.nextAiring }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No upcoming premieres available.</p>
        {% endif %}
    </div>
    
    <div id="settings" style="display: none;">
        <form id="settings-form" method="POST" action="{{ url_for('update_settings') }}">
            <h3>Manage Settings</h3>
            <div class="form-group">
                <label for="get_option">How many more episodes to get?:</label>
                <input type="text" id="get_option" name="get_option" placeholder="Enter 'Season' or number" value="{{ config.get('get_option', 'Season') }}">
            </div>
            <div class="form-group">
                <label for="action_option">Action for Episodes:</label>
                <select id="action_option" name="action_option">
                    <option value="monitor" {{ 'selected' if config.get('action_option') == 'monitor' else '' }}>Monitor</option>
                    <option value="search" {{ 'selected' if config.get('action_option') == 'search' else '' }}>Search</option>
                </select>
            </div>
            <div class="form-group">
                <label for="already_watched">How many episodes to keep?:</label>
                <input type="text" id="already_watched" name="already_watched" placeholder="Enter 'Season' or number" value="{{ config.get('already_watched', 'Season') }}">
            </div>
            <div class="form-group">
                <label for="always_keep">Shows to Always Keep (comma-separated):</label>
                <input type="text" id="always_keep" name="always_keep" placeholder="e.g., Show1, Show2" value="{{ ', '.join(config.get('always_keep', [])) }}">
            </div>
            <button type="submit">Update Settings</button>
        </form>
    
   

        <h3>View Logs</h3>
        <pre id="logContent">Click a button to load logs...</pre>
        <div class="button-container">
            <button onclick="fetchLogs('app')">12 hours</button>
            <button onclick="fetchLogs('error')">Errors</button>
            <button onclick="hideLogs()">Close</button>
        </div>
        <div class="download-links">
            <a href="/logs?type=app" download class="log-link">Download App Logs</a>,
            <a href="/logs?type=error" download class="log-link">Download Error Logs</a>
        </div>
        


        <div class="form-group">
            <button onclick="location.href='http://192.168.254.85:8989/add/new';">Add new show</button>
        </div>
        <div class="form-group">
            <button onclick="refreshPlex();">Refresh Plex</button>
        </div>
        <div class="form-group">
            <button onclick="triggerWake();">Wake Office PC</button>
        </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
