<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Series Manager</title>
    <script>
        function toggleNewRuleName() {
            var ruleNameSelect = document.getElementById("rule_name");
            var newRuleNameGroup = document.getElementById("new_rule_name_group");
            if (ruleNameSelect.value === "add_new") {
                newRuleNameGroup.style.display = "block";
            } else {
                newRuleNameGroup.style.display = "none";
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            toggleNewRuleName();  // Ensure it runs on page load in case 'Add New' is already selected
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="menu my-3">
            <span onclick="showSection('current')" class="menu-icon active">
                Watching
            </span>
            {% if not config.get('CLIENT_ONLY') %} <img src="{{ url_for('static', filename='logo_icon.png') }}" alt="Settings" class="logo-icon" onclick="showSection('settings')"> {% endif %}
            <span onclick="showSection('upcoming')" class="menu-icon">
                Premiering
            </span>
        </div>

        <div id="current" class="series-container">
            <div class="row {% if use_posters %}poster-mode{% else %}banner-mode{% endif %}">
                {% for series in current_series %}
                <div class="col-12 {% if use_posters %}col-md-6 col-lg-4 col-xl-3{% endif %} series-item {% if use_posters %}poster-mode{% else %}banner-mode{% endif %}">
                    <div class="banner-wrapper {% if use_posters %}poster-mode{% else %}banner-mode{% endif %}">
                        <a href="{{ series.sonarr_series_url }}">
                            <img src="{{ series.artwork_url }}" alt="Artwork for {{ series.name }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="series-info text-center mt-1">
                        <p class="episode-info">{{ series.latest_monitored_episode }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div id="upcoming" class="series-container"> 
            <div class="row {% if use_posters %}poster-mode{% else %}banner-mode{% endif %}">
                {% for premiere in upcoming_premieres %}
                <div class="col-12 {% if use_posters %}col-md-6 col-lg-4 col-xl-3{% endif %} series-item {% if use_posters %}poster-mode{% else %}banner-mode{% endif %}">
                    <div class="banner-wrapper {% if use_posters %}poster-mode{% else %}banner-mode{% endif %}">
                        <a href="{{ premiere.sonarr_series_url }}">
                            <img src="{{ premiere.artwork_url }}" alt="Artwork for {{ premiere.name }}" class="img-fluid">
                        </a>
                    </div>
                    <div class="series-info text-center mt-1">
                        <p class="series-title">{{ premiere.name }}</p>
                        <p class="episode-info">{{ premiere.nextAiring.split('at')[0] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if not config.get('CLIENT_ONLY') %} <div id="settings" style="display: none;">
            <form id="settings-form" method="POST" action="{{ url_for('update_settings') }}">
                <h3>Manage Settings</h3>
                <div class="form-group">
                    <label for="rule_name">Select Rule:</label>
                    <select id="rule_name" name="rule_name" class="form-control" onchange="toggleNewRuleName()">
                        {% for rule_name in config['rules'].keys() %}
                        <option value="{{ rule_name }}" {{ 'selected' if rule_name == rule else '' }}>{{ rule_name|capitalize }}</option>
                        {% endfor %}
                        <option value="add_new">Add New</option>
                    </select>
                </div>
                <div class="form-group" id="new_rule_name_group" style="display:none;">
                    <label for="new_rule_name">New Rule Name:</label>
                    <input type="text" id="new_rule_name" name="new_rule_name" class="form-control" placeholder="Enter new rule name">
                </div>
                <div class="form-group">
                    <label for="get_option">How many more episodes to get?:</label>
                    <input type="text" id="get_option" name="get_option" placeholder="Enter 'season', 'all', or a number" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label for="action_option">Action for Episodes:</label>
                    <select id="action_option" name="action_option" class="form-control">
                        <option value="monitor">Monitor</option>
                        <option value="search">Search</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="keep_watched">How many episodes to keep?:</label>
                    <input type="text" id="keep_watched" name="keep_watched" placeholder="Enter 'season', 'all', or a number" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label for="monitor_watched">Keep monitored if watched:</label>
                    <select id="monitor_watched" name="monitor_watched" class="form-control">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update Settings</button>
            </form>
            
            
            
            <form id="delete-rule-form" method="POST" action="{{ url_for('delete_rule') }}" onsubmit="return confirmDeleteRule()">
                <input type="hidden" name="rule_name" id="delete_rule_name">
                <button type="submit" class="btn btn-danger" id="delete_rule">Delete Rule</button>
            </form>
            
            <button class="btn btn-secondary" id="assign-rules-button" onclick="showSection('assign_rules', document.getElementById('rule_name').value)">Assign Rules</button>

            <div class="form-group">
                <h4>Missing Series Log</h4>
                <textarea readonly rows="3" cols="40">{{ missing_log }}</textarea>
            </div>
            <div class="form-group">
                <a href="{{ sonarr_url }}/add/new" target="_blank">Add New Series</a>
            </div>
        </div>
        
        <div id="assign_rules" style="display: none;">
            <h3>Assign/Unassign Rules to Series</h3>
            <form id="assign-rules-form" method="POST" action="{{ url_for('assign_rules') }}">
                <div class="form-group">
                    <label for="assign_rule_name">Select Rule:</label>
                    <select id="assign_rule_name" name="assign_rule_name" class="form-control" onchange="updateCheckboxes()">
                        <option value="None">None</option>
                        {% for rule_name in config['rules'].keys() %}
                        <option value="{{ rule_name }}" {{ 'selected' if rule_name == rule else '' }}>{{ rule_name|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="series_list">Select Series:</label>
                    <div id="series_list" class="checkbox-list">
                        {% for series in all_series %}
                        <div class="checkbox-item">
                            <input type="checkbox" class="series-checkbox" id="series_{{ series['id'] }}" name="series_ids" value="{{ series['id'] }}" data-rule="{{ series['assigned_rule'] }}">
                            <label for="series_{{ series['id'] }}">{{ series['title'] }} ({{ series['assigned_rule'] or 'None' }})</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Assign checked shows to above rule</button>
                <span class="disclaimer">(will override current assignments)</span>
            </form>
        
            
        </div>
        {% endif %}
        
        <script type="application/json" id="config-data">{{ config|tojson|safe }}</script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>
